body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.codetrain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.codetrain h2 {
  margin-top: 10rem;
  font-size: 30px;
  font-style: italic;
  font-weight: small;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
